fp-info-cache
GBUS.kicad_sch-bak
GBUS.sch-bak
Power system.kicad_sch-bak
Power system.sch-bak
_OUTPUT Files/
Sensors.kicad_sch-bak
USB TO SERIAL.kicad_sch-bak
WeatherKids_V3.kicad_prl
WeatherKids_V3.kicad_sch-bak
WeatherKids_V3-backups/
_autosave-WeatherKids_Compact(V2.1).kicad_pcb